@font-face {
    font-family:convergence;
    src:url(Convergence.woff2);
}
@font-face {
    font-family:inconsolata;
    src:url(Inconsolata.woff2);
}
@keyframes theme-transition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
html {
    box-sizing:border-box;
}
body {
    margin:2em;
    transition: background-color 0.5s ease, color 0.5s ease-in-out;
}
body.light-theme {
    background-color:#eee;
    color:#111;
    animation: theme-transition 0.5s;
}
body.dark-theme {
    background-color:#111;
    color:#eee;
    animation: theme-transition 0.5s;
}
a {
    font-family:convergence;
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a.light-theme {
    color:#06c;
}
a.dark-theme {
    color:#c60;
}
button {
    font-size:24px;
    padding:0;
    border:none;
    background-color:transparent;
    cursor:pointer;
    filter:saturate(30%);
    position:absolute;
    right:8px;
    top:8px;
    transition:0.5s;
}
button:hover {
    filter:saturate(100%);
}
details {
    display:none;
}
details>summary {
    font-family:inconsolata;
    padding:10px;
    border:none;
    cursor:pointer;
    box-shadow:1px 1px 2px #999;
}
details>summary.light-theme {
    background-color:#ccc;
}
details>summary.dark-theme {
    background-color:#555;
}
h1 {
    padding:70px 0;
    text-align:center;
}
img {
    border-style:none;
    background-color:transparent;
    max-width:100%;
    height:auto;
    opacity:0.3;
    position:absolute;
    bottom:16px;
    right:16px;
    transition:0.5s;
}
img:hover {
    opacity:0.7;
}
img[alt="light"].light-theme {
    display:none;
}
img[alt="dark"].dark-theme {
    display:none;
}
p {
    font-family:convergence;
    line-height: 2;
}
pre {
    font-family:inconsolata;
    padding:10px;
    margin:0;
    box-shadow:1px 1px 2px #999;
}
pre.light-theme {
    background-color:#ccc;
}
pre.dark-theme {
    background-color:#555;
}
@media screen and (max-width:600px) {
    p {
        font-size:16px;
    }
    details>summary {
        width:320px;
        font-size:13px;
    }
    pre {
        width:320px;
        font-size:10px;
    }
}
@media screen and (min-width:600px) {
    p {
        font-size:22px;
    }
    details>summary {
        width:416px;
        font-size:16px;
    }
    pre {
        width:416px;
        font-size:13px;
    }
}
